body {
  background: lavender !important;
}

header {
  margin-bottom: 6rem;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.introducao {
  display: flex;
  justify-content: center;
  margin: 2rem;
  
}

.introducao-container {
  justify-content: center;
  display: flex;
  width: 82%;
  border: 1px solid rgba(156, 102, 0, 0.767);
  background-color: rgb(255, 238, 208);
  border-radius: 1rem;
  padding: 2rem;
}

.form {
  display: flex;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.form-section {
  background-color: rgb(173, 226, 230);
  width: 30rem;
  text-align: center;
  padding: ;
}

.form-button {
  width: 25rem;
  align-items: center;
  justify-content: center;

}
.form-aside {
  background-color: rgb(173, 226, 230);
  width: 30rem;
  text-align: center;
  padding: 10px;
}

.racas {
  text-align: center;
  padding: 0 10rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
